@page
@model ListSupplierModel

<h2>Supplier List</h2>
<p>Number of suppliers: @Model.Suppliers.Count()</p>
<a class="btn btn-primary" href="/CreateSupplier">Add Supplier</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Supplier ID</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model.Suppliers)
        {
            <tr>
                <td><a href="/SupplierDetails/@supplier.SupplierId">@supplier.SupplierId</a></td>
                <td>@supplier.CompanyName</td>
            </tr>
        }
    </tbody>
</table>